flows.json
[
    {
        "id": "939245f6dd8c773d",
        "type": "tab",
        "label": "Office Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7bc40e58ecad8f5a",
        "type": "tab",
        "label": "Office Occupancy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9f8d27dd7589642",
        "type": "tab",
        "label": "Basement Climate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fad46a3e50b7cb59",
        "type": "tab",
        "label": "Nightlight",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd78a9154e868687",
        "type": "tab",
        "label": "Emergency Behaviors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeedd65b28cdf0d7",
        "type": "tab",
        "label": "Weather Indicator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4696f8f7599e2c3b",
        "type": "tab",
        "label": "Outdoor Lighting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ca5738bfaac31c2",
        "type": "tab",
        "label": "Christmas Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cf4ebf2573ce555",
        "type": "tab",
        "label": "Home Occupancy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c285c46413be8e0a",
        "type": "tab",
        "label": "Alarm Actions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "000e049e0f850948",
        "type": "tab",
        "label": "Climate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43f99aab.221f74",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "90cc7eb17f3b657b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "56d395657579a239",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2a8559f81720994a",
        "type": "api-current-state",
        "z": "939245f6dd8c773d",
        "name": "Sun below horizon",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "Below horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sun.sun",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "ac187de7f1e1f5ee",
                "6a46640534743768"
            ],
            []
        ]
    },
    {
        "id": "6854f06a23f65871",
        "type": "api-current-state",
        "z": "939245f6dd8c773d",
        "name": "If office Lux <= 200",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "200",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.office_sensor_illuminance",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "flow",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "ac187de7f1e1f5ee"
            ],
            []
        ]
    },
    {
        "id": "2c1465aeb88758c8",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn on light strip",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_light_strip"
        ],
        "data": "{\"brightness_pct\":99}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "dc49086ed171f18a"
            ]
        ]
    },
    {
        "id": "dc49086ed171f18a",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn on Adaptive Brightness",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_office_light_strip_brightness"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "394f51a4c56e4950"
            ]
        ]
    },
    {
        "id": "1910d8587a5e9123",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn on desk light",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_desk_light"
        ],
        "data": "{\"brightness_pct\":99}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "363fde701d4c4fcb"
            ]
        ]
    },
    {
        "id": "fc03b6678b962ed0",
        "type": "mqtt in",
        "z": "939245f6dd8c773d",
        "name": "Office Occupancy",
        "topic": "occupancy/office",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "08eec0beb47e9e24"
            ]
        ]
    },
    {
        "id": "08eec0beb47e9e24",
        "type": "switch",
        "z": "939245f6dd8c773d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arrived",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "departed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "occupied",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "09cac5a3cec908cb"
            ],
            [
                "9c11cfb360382d6e"
            ],
            [
                "27d718d9e92f4ffa"
            ],
            [
                "048bcaf61e4123f5"
            ]
        ]
    },
    {
        "id": "09cac5a3cec908cb",
        "type": "link out",
        "z": "939245f6dd8c773d",
        "name": "Arrived",
        "mode": "link",
        "links": [
            "9f47912af990c18b"
        ],
        "x": 500,
        "y": 60,
        "wires": [],
        "l": true
    },
    {
        "id": "9c11cfb360382d6e",
        "type": "link out",
        "z": "939245f6dd8c773d",
        "name": "Departed",
        "mode": "link",
        "links": [
            "21c1c51530b306e1"
        ],
        "x": 500,
        "y": 100,
        "wires": [],
        "l": true
    },
    {
        "id": "9f47912af990c18b",
        "type": "link in",
        "z": "939245f6dd8c773d",
        "name": "Arrived",
        "links": [
            "09cac5a3cec908cb"
        ],
        "x": 90,
        "y": 320,
        "wires": [
            [
                "2a8559f81720994a",
                "6854f06a23f65871",
                "2c1465aeb88758c8",
                "589c6fb0020e41b9",
                "cccea631c97e67f4"
            ]
        ],
        "l": true
    },
    {
        "id": "21c1c51530b306e1",
        "type": "link in",
        "z": "939245f6dd8c773d",
        "name": "Departed",
        "links": [
            "9c11cfb360382d6e"
        ],
        "x": 120,
        "y": 500,
        "wires": [
            [
                "7861d7fd96cdf030",
                "0d2ce012289b1b79",
                "84278cdde1d31e15"
            ]
        ],
        "l": true
    },
    {
        "id": "27d718d9e92f4ffa",
        "type": "link out",
        "z": "939245f6dd8c773d",
        "name": "Occupied",
        "mode": "link",
        "links": [
            "aa0d7dc6782afc98"
        ],
        "x": 500,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "048bcaf61e4123f5",
        "type": "link out",
        "z": "939245f6dd8c773d",
        "name": "Away",
        "mode": "link",
        "links": [
            "c5d1aa7dad9f8054"
        ],
        "x": 490,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "aa0d7dc6782afc98",
        "type": "link in",
        "z": "939245f6dd8c773d",
        "name": "Occupied",
        "links": [
            "27d718d9e92f4ffa"
        ],
        "x": 120,
        "y": 680,
        "wires": [
            [
                "0afdda9b35fc1d01",
                "9834335bb54c802e"
            ]
        ],
        "l": true
    },
    {
        "id": "c5d1aa7dad9f8054",
        "type": "link in",
        "z": "939245f6dd8c773d",
        "name": "Away",
        "links": [
            "048bcaf61e4123f5"
        ],
        "x": 110,
        "y": 860,
        "wires": [
            [
                "d73d3f9e378d3df6",
                "4b33318f9aa7c7aa",
                "f391c00b3cab3d31"
            ]
        ],
        "l": true
    },
    {
        "id": "363fde701d4c4fcb",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn on adaptive brightness",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_brightness_office_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "60612d3f0f253066"
            ]
        ]
    },
    {
        "id": "0afdda9b35fc1d01",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn on office radiator",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.office_thermostat"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "36c34f5b5c28d240",
        "type": "api-current-state",
        "z": "939245f6dd8c773d",
        "name": "Ainsley not home",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.ainsley",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 590,
        "y": 680,
        "wires": [
            [
                "700afa0c982da93d"
            ],
            []
        ]
    },
    {
        "id": "700afa0c982da93d",
        "type": "api-current-state",
        "z": "939245f6dd8c773d",
        "name": "Office Occupied",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "75",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.office_occupied",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 700,
        "wires": [
            [
                "df476401b0bd5ed2"
            ],
            []
        ]
    },
    {
        "id": "5c0f6865e3a98ef4",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Dim desk light",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_desk_light"
        ],
        "data": "{\"brightness_pct\": 1}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "923e9948973d7437"
            ]
        ]
    },
    {
        "id": "4ecf0e170c89363c",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Dim light strip",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_light_strip"
        ],
        "data": "{\"brightness_pct\": 1}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "fcfc14b82ebe93ea"
            ]
        ]
    },
    {
        "id": "d73d3f9e378d3df6",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn off office radiator",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.office_thermostat"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 340,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "4b33318f9aa7c7aa",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn off light strip",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_light_strip"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 330,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "60612d3f0f253066",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Disable adaptive manual control",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "adaptive_lighting",
        "service": "set_manual_control",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_lighting_adaptive_office_lights"
        ],
        "data": "{\"manual_control\": false}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1190,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "394f51a4c56e4950",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Disable adaptive manual control",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "adaptive_lighting",
        "service": "set_manual_control",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_lighting_adaptive_office_light_strip"
        ],
        "data": "{\"manual_control\": false}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7861d7fd96cdf030",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn off adaptive brightness",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_brightness_office_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "5c0f6865e3a98ef4"
            ]
        ]
    },
    {
        "id": "0d2ce012289b1b79",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn off Adaptive Brightness",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_office_light_strip_brightness"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "4ecf0e170c89363c"
            ]
        ]
    },
    {
        "id": "fcfc14b82ebe93ea",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Disable adaptive manual control",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "adaptive_lighting",
        "service": "set_manual_control",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_lighting_adaptive_office_light_strip"
        ],
        "data": "{\"manual_control\": false}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "923e9948973d7437",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Disable adaptive manual control",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "adaptive_lighting",
        "service": "set_manual_control",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.adaptive_lighting_adaptive_office_lights"
        ],
        "data": "{\"manual_control\": false}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "36e43c93cb35d552",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn off Task Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_task_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 470,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "34e6b0d7a9107135",
        "type": "api-call-service",
        "z": "939245f6dd8c773d",
        "name": "Turn on Task Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_task_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f391c00b3cab3d31",
        "type": "time-range-switch",
        "z": "939245f6dd8c773d",
        "name": "If not at night",
        "lat": "",
        "lon": "",
        "startTime": "7:00",
        "endTime": "21:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "13b0182b46c6e634"
            ],
            []
        ]
    },
    {
        "id": "13b0182b46c6e634",
        "type": "api-current-state",
        "z": "939245f6dd8c773d",
        "name": "If house not empty",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "empty, departed, extended_empty",
        "halt_if_type": "str",
        "halt_if_compare": "does_not_include",
        "entity_id": "sensor.house_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 820,
        "wires": [
            [
                "4ed767a0aebd5e15"
            ],
            []
        ]
    },
    {
        "id": "a6915b94215a28f1",
        "type": "trigger-state",
        "z": "939245f6dd8c773d",
        "name": "Ainsley Leaves",
        "server": "43f99aab.221f74",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "person.ainsley",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home",
                "propertyValue": "new_state.state"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "enableInput": false,
        "x": 140,
        "y": 760,
        "wires": [
            [
                "700afa0c982da93d"
            ],
            []
        ]
    },
    {
        "id": "589c6fb0020e41b9",
        "type": "api-current-state",
        "z": "939245f6dd8c773d",
        "name": "If office Lux <= 350",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "350",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.office_sensor_illuminance",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "flow",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "6a46640534743768"
            ],
            []
        ]
    },
    {
        "id": "cccea631c97e67f4",
        "type": "change",
        "z": "939245f6dd8c773d",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "84278cdde1d31e15"
            ]
        ]
    },
    {
        "id": "9834335bb54c802e",
        "type": "stoptimer",
        "z": "939245f6dd8c773d",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "",
        "name": "",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "36c34f5b5c28d240"
            ],
            []
        ]
    },
    {
        "id": "ac187de7f1e1f5ee",
        "type": "stoptimer",
        "z": "939245f6dd8c773d",
        "duration": "700",
        "units": "Millisecond",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "700ms",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "34e6b0d7a9107135"
            ],
            []
        ]
    },
    {
        "id": "84278cdde1d31e15",
        "type": "stoptimer",
        "z": "939245f6dd8c773d",
        "duration": "20",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "20s",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "36e43c93cb35d552"
            ],
            []
        ]
    },
    {
        "id": "6a46640534743768",
        "type": "stoptimer",
        "z": "939245f6dd8c773d",
        "duration": "350",
        "units": "Millisecond",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "350ms",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "1910d8587a5e9123"
            ],
            []
        ]
    },
    {
        "id": "df476401b0bd5ed2",
        "type": "change",
        "z": "939245f6dd8c773d",
        "name": "MQTT: office",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "office",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 700,
        "wires": [
            [
                "cc1716e913f0b3f1"
            ]
        ]
    },
    {
        "id": "cc1716e913f0b3f1",
        "type": "mqtt out",
        "z": "939245f6dd8c773d",
        "name": "",
        "topic": "climate/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "4ed767a0aebd5e15",
        "type": "change",
        "z": "939245f6dd8c773d",
        "name": "MQTT: home",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 820,
        "wires": [
            [
                "fd0213078a17704c"
            ]
        ]
    },
    {
        "id": "fd0213078a17704c",
        "type": "mqtt out",
        "z": "939245f6dd8c773d",
        "name": "",
        "topic": "climate/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 870,
        "y": 820,
        "wires": []
    },
    {
        "id": "873d5dc98caef927",
        "type": "inject",
        "z": "7bc40e58ecad8f5a",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 145,
        "y": 300,
        "wires": [
            [
                "9c7b2ee80dc625e6"
            ]
        ],
        "l": false
    },
    {
        "id": "fe205e6fa42178dd",
        "type": "link in",
        "z": "7bc40e58ecad8f5a",
        "name": "Set Departed",
        "links": [
            "f77650abaf6a6176"
        ],
        "x": 120,
        "y": 260,
        "wires": [
            [
                "9c7b2ee80dc625e6"
            ]
        ],
        "l": true
    },
    {
        "id": "0d52312770d96535",
        "type": "ha-device",
        "z": "7bc40e58ecad8f5a",
        "name": "Office | Motion Detected",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "203def7ac1e210d9d859d68c7c6fc3f3",
        "event": {
            "type": "motion",
            "platform": "device",
            "device_id": "203def7ac1e210d9d859d68c7c6fc3f3",
            "entity_id": "binary_sensor.office_sensor_home_security_motion_detection",
            "domain": "binary_sensor"
        },
        "capabilities": [],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 560,
        "wires": [
            [
                "879bcc47bc8ec4f0",
                "cb3cd6aab34f44fa"
            ]
        ]
    },
    {
        "id": "879bcc47bc8ec4f0",
        "type": "link out",
        "z": "7bc40e58ecad8f5a",
        "name": "ARRIVE",
        "mode": "link",
        "links": [
            "0a0a3e2db995d861"
        ],
        "x": 680,
        "y": 560,
        "wires": [],
        "l": true
    },
    {
        "id": "2eeacd77fc0d8b9c",
        "type": "inject",
        "z": "7bc40e58ecad8f5a",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 155,
        "y": 220,
        "wires": [
            [
                "8e72ea1b150f1f42"
            ]
        ],
        "l": false
    },
    {
        "id": "0a0a3e2db995d861",
        "type": "link in",
        "z": "7bc40e58ecad8f5a",
        "name": "Set Arrived",
        "links": [
            "879bcc47bc8ec4f0"
        ],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "8e72ea1b150f1f42"
            ]
        ],
        "l": true
    },
    {
        "id": "3fedc8017c686135",
        "type": "ha-device",
        "z": "7bc40e58ecad8f5a",
        "name": "Office | Motion stopped",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "203def7ac1e210d9d859d68c7c6fc3f3",
        "event": {
            "type": "no_motion",
            "platform": "device",
            "device_id": "203def7ac1e210d9d859d68c7c6fc3f3",
            "entity_id": "binary_sensor.office_sensor_home_security_motion_detection",
            "domain": "binary_sensor"
        },
        "capabilities": [
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 0,
                "unit": "seconds"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 440,
        "wires": [
            [
                "38139b64a5833580"
            ]
        ]
    },
    {
        "id": "4b7388221ca42f11",
        "type": "ha-device",
        "z": "7bc40e58ecad8f5a",
        "name": "Laptop inactive",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "b7b2f494a10300cdfc67819c72e5d1e8",
        "event": {
            "type": "turned_off",
            "platform": "device",
            "device_id": "b7b2f494a10300cdfc67819c72e5d1e8",
            "entity_id": "binary_sensor.as_104_active",
            "domain": "binary_sensor"
        },
        "capabilities": [],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 400,
        "wires": [
            [
                "2e0b59cc607b24a1"
            ]
        ]
    },
    {
        "id": "38139b64a5833580",
        "type": "api-current-state",
        "z": "7bc40e58ecad8f5a",
        "name": "Laptop inactive?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "false",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.as_104_active",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "f77650abaf6a6176"
            ],
            [
                "5f18cda341983471"
            ]
        ]
    },
    {
        "id": "2e0b59cc607b24a1",
        "type": "api-current-state",
        "z": "7bc40e58ecad8f5a",
        "name": "No motion detected?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "idle",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.office_sensor_home_security_motion_sensor_status",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "f77650abaf6a6176"
            ],
            []
        ]
    },
    {
        "id": "f77650abaf6a6176",
        "type": "link out",
        "z": "7bc40e58ecad8f5a",
        "name": "DEPART",
        "mode": "link",
        "links": [
            "fe205e6fa42178dd"
        ],
        "x": 680,
        "y": 420,
        "wires": [],
        "l": true
    },
    {
        "id": "7e91eefb1361effe",
        "type": "mqtt in",
        "z": "7bc40e58ecad8f5a",
        "name": "House Occupancy",
        "topic": "occupancy/house",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "68dbde116dad28af"
            ]
        ]
    },
    {
        "id": "68dbde116dad28af",
        "type": "switch",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ea90adc72ad56ac5",
        "type": "mqtt out",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "topic": "energy/gas_meter/meter_reading",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "1e2fb8cd77cc5bb4",
        "type": "change",
        "z": "7bc40e58ecad8f5a",
        "name": "update meter reading",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6294",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 760,
        "wires": [
            [
                "ea90adc72ad56ac5"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "90bec65518f740d1",
        "type": "inject",
        "z": "7bc40e58ecad8f5a",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 760,
        "wires": [
            [
                "1e2fb8cd77cc5bb4"
            ]
        ],
        "l": false
    },
    {
        "id": "125818a541f60999",
        "type": "smxstate",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "xstateDefinition": "// Available variables/objects/functions:\n// xstate\n// - .Machine\n// - .interpret\n// - .assign\n// - .send\n// - .sendParent\n// - .spawn\n// - .raise\n// - .actions\n//\n// Common\n// - setInterval, setTimeout, clearInterval, clearTimeout\n// - node.send, node.warn, node.log, node.error\n// - context.get, context.set\n// - flow.get, flow.set\n// - env.get\n// - util\n\nconst { assign } = xstate;\n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\n\n/**\n * Actions\n */\n\n\n/***************************\n * Main machine definition *\n ***************************/\nreturn {\n  machine: {\n    id: \"office-occupancy\",\n    initial: \"away\",\n    states: {\n      away: {\n        on: {\n          ARRIVE: { target: \"arrived\" },\n        },\n      },\n      arrived: {\n        on: {\n          DEPART: {target: \"departed\"},\n        },\n        after: {\n          // 3 minutes\n          180000: { target: \"occupied\"},\n        },\n      },\n      occupied: {\n        on: {\n          DEPART: { target: \"departed\" },\n        },\n      },\n      departed: {\n        on: {\n          ARRIVE: { target: \"arrived\" },\n        },\n        after: {\n          // 10 minutes\n          600000: { target: \"away\" },\n        }\n      },\n    },\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n    // guards: { maxValueReached },\n    // actions: { incrementCounter, resetCounter },\n    // activities: { doStuff }\n  },\n  // Define listeners (can be an array of functions)\n  //    Functions get called on every state/context update\n  listeners: (data) => {\n    //node.warn(data.state + \":\" + data.context.counter);\n  },\n};\n",
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "0548d12528d85d7f"
            ],
            []
        ]
    },
    {
        "id": "a3e756c533ca5d7c",
        "type": "change",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 220,
        "wires": [
            [
                "d4f79504beed9d0e",
                "c74f0a5a204298ba"
            ]
        ]
    },
    {
        "id": "d4f79504beed9d0e",
        "type": "mqtt out",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "topic": "occupancy/office",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 945,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "8e72ea1b150f1f42",
        "type": "change",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ARRIVE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "125818a541f60999"
            ]
        ]
    },
    {
        "id": "9c7b2ee80dc625e6",
        "type": "change",
        "z": "7bc40e58ecad8f5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "DEPART",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "125818a541f60999"
            ]
        ]
    },
    {
        "id": "5f18cda341983471",
        "type": "stoptimer",
        "z": "7bc40e58ecad8f5a",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 560,
        "y": 500,
        "wires": [
            [
                "f77650abaf6a6176"
            ],
            []
        ]
    },
    {
        "id": "c74f0a5a204298ba",
        "type": "api-call-service",
        "z": "7bc40e58ecad8f5a",
        "d": true,
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"Office occupancy changed\", \"message\": payload}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cb3cd6aab34f44fa",
        "type": "change",
        "z": "7bc40e58ecad8f5a",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "5f18cda341983471"
            ]
        ]
    },
    {
        "id": "0548d12528d85d7f",
        "type": "switch",
        "z": "7bc40e58ecad8f5a",
        "name": "If changed",
        "property": "payload.changed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "a3e756c533ca5d7c",
                "839c389031b45984"
            ]
        ]
    },
    {
        "id": "839c389031b45984",
        "type": "debug",
        "z": "7bc40e58ecad8f5a",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "825345b0972bc4d7",
        "type": "api-call-service",
        "z": "f9f8d27dd7589642",
        "name": "Turn on Dehumidifier",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.switch_dehumidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 460,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-toggle-on"
    },
    {
        "id": "ddf1111a0432c3ac",
        "type": "ha-device",
        "z": "f9f8d27dd7589642",
        "name": "Humidity above 77%",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "2dca32a0d5e3d49775aae765d325dd05",
        "event": {
            "type": "humidity",
            "platform": "device",
            "device_id": "2dca32a0d5e3d49775aae765d325dd05",
            "entity_id": "sensor.basement_sensor_humidity",
            "domain": "sensor"
        },
        "capabilities": [
            {
                "name": "above",
                "type": "float",
                "value": 77
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 1,
                "unit": "hours"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 460,
        "wires": [
            [
                "825345b0972bc4d7"
            ]
        ]
    },
    {
        "id": "7a7d2e5c80ce5c81",
        "type": "ha-device",
        "z": "f9f8d27dd7589642",
        "name": "Humidity below 68%",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "2dca32a0d5e3d49775aae765d325dd05",
        "event": {
            "type": "humidity",
            "platform": "device",
            "device_id": "2dca32a0d5e3d49775aae765d325dd05",
            "entity_id": "sensor.basement_sensor_humidity",
            "domain": "sensor"
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 68
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 520,
        "wires": [
            [
                "f7b2c15d53661928"
            ]
        ]
    },
    {
        "id": "cdcce6f39e662424",
        "type": "api-call-service",
        "z": "f9f8d27dd7589642",
        "name": "Turn off Dehumidifier",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.switch_dehumidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 580,
        "y": 520,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-toggle-off"
    },
    {
        "id": "24579bcb.5c9814",
        "type": "inject",
        "z": "f9f8d27dd7589642",
        "name": "Every morning",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 06 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "Good morning",
        "payloadType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "f25f7401fe52abef"
            ]
        ]
    },
    {
        "id": "f25f7401fe52abef",
        "type": "api-current-state",
        "z": "f9f8d27dd7589642",
        "name": "Humidity less than 72%?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "70",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.basement_sensor_humidity",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "cdcce6f39e662424"
            ],
            []
        ]
    },
    {
        "id": "f8e643b3431aef0d",
        "type": "inject",
        "z": "f9f8d27dd7589642",
        "name": "Every night",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "15 23 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "Good evening",
        "payloadType": "str",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "8692484fb95c2757"
            ]
        ]
    },
    {
        "id": "8692484fb95c2757",
        "type": "api-current-state",
        "z": "f9f8d27dd7589642",
        "name": "Humidity greater than 60%?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "60",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.basement_sensor_humidity",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "825345b0972bc4d7"
            ],
            []
        ]
    },
    {
        "id": "f7b2c15d53661928",
        "type": "time-range-switch",
        "z": "f9f8d27dd7589642",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "6:31",
        "endTime": "23:14",
        "startOffset": 0,
        "endOffset": 0,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "cdcce6f39e662424"
            ],
            []
        ]
    },
    {
        "id": "da55f2021633a883",
        "type": "ha-device",
        "z": "f9f8d27dd7589642",
        "name": "Dehumidifier on",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "257565fb73d94edf4103ad37faef92af",
        "event": {
            "platform": "device",
            "type": "turned_on",
            "device_id": "257565fb73d94edf4103ad37faef92af",
            "entity_id": "switch.switch_dehumidifier",
            "domain": "switch"
        },
        "capabilities": [
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 5,
                "unit": "minutes"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "e47bc668b624c73b",
        "type": "api-current-state",
        "z": "f9f8d27dd7589642",
        "name": "No energy used",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "50",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.dehumidifier_123_1min",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "16b5def5f5410fa8"
            ],
            []
        ]
    },
    {
        "id": "16b5def5f5410fa8",
        "type": "api-call-service",
        "z": "f9f8d27dd7589642",
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"Check dehumidifier\", \"message\": \"Dehumidifier is not running. Check bucket and empty water\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 790,
        "y": 780,
        "wires": [
            [
                "7d6fdd6891b744de"
            ]
        ]
    },
    {
        "id": "ae80afed49bdddcf",
        "type": "change",
        "z": "f9f8d27dd7589642",
        "name": "STOP loop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ae11c8eb9920c770",
        "type": "link in",
        "z": "f9f8d27dd7589642",
        "name": "",
        "links": [
            "7d6fdd6891b744de"
        ],
        "x": 55,
        "y": 720,
        "wires": [
            [
                "ae80afed49bdddcf"
            ]
        ]
    },
    {
        "id": "7d6fdd6891b744de",
        "type": "link out",
        "z": "f9f8d27dd7589642",
        "name": "",
        "mode": "link",
        "links": [
            "ae11c8eb9920c770"
        ],
        "x": 915,
        "y": 780,
        "wires": []
    },
    {
        "id": "ed9b14c5ec5e566f",
        "type": "ha-device",
        "z": "f9f8d27dd7589642",
        "name": "Dehumidifier off",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "257565fb73d94edf4103ad37faef92af",
        "event": {
            "platform": "device",
            "type": "turned_off",
            "device_id": "257565fb73d94edf4103ad37faef92af",
            "entity_id": "switch.switch_dehumidifier",
            "domain": "switch"
        },
        "capabilities": [],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 780,
        "wires": [
            [
                "ae80afed49bdddcf"
            ]
        ]
    },
    {
        "id": "a0b9e2355bbd646e",
        "type": "ha-device",
        "z": "fad46a3e50b7cb59",
        "name": "Upstairs Hallway Config Button",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "833049e14233eccdaf7a893e96ee04f1",
        "event": {
            "platform": "device",
            "device_id": "833049e14233eccdaf7a893e96ee04f1",
            "domain": "zwave_js",
            "type": "event.value_notification.central_scene",
            "property": "scene",
            "property_key": "003",
            "endpoint": 0,
            "command_class": 91,
            "subtype": "Endpoint 0 Scene 003"
        },
        "capabilities": [
            {
                "name": "value",
                "type": "select",
                "value": "0"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 320,
        "wires": [
            [
                "675d88cdd5b0d2e2"
            ]
        ]
    },
    {
        "id": "675d88cdd5b0d2e2",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Set Nightlight",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.nightlight"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6cabc36f67017712",
        "type": "ha-device",
        "z": "fad46a3e50b7cb59",
        "name": "Goodnight (press down 3x)",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "833049e14233eccdaf7a893e96ee04f1",
        "event": {
            "platform": "device",
            "device_id": "833049e14233eccdaf7a893e96ee04f1",
            "domain": "zwave_js",
            "type": "event.value_notification.central_scene",
            "property": "scene",
            "property_key": "001",
            "endpoint": 0,
            "command_class": 91,
            "subtype": "Endpoint 0 Scene 001",
            "metadata": {}
        },
        "capabilities": [
            {
                "name": "value",
                "type": "select",
                "value": "4"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 560,
        "wires": [
            [
                "0726d41f35e48874",
                "59202ff181405384",
                "d947504d07ee3217",
                "9bd8d1aab544c604",
                "0651e6a0471c0e72",
                "f99dca18709982c7",
                "67c9c28d57b71f94",
                "e9b136ebc5db71c4",
                "189e48e4fb8044f6",
                "21a090a5ed52ecc0",
                "7689a3b8100c04bf",
                "3aecd32d33867ab4"
            ]
        ]
    },
    {
        "id": "0726d41f35e48874",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off Living Room Table Lamp",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.living_room_table_lamp"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 460,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "59202ff181405384",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off Living Room Floor Lamp",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.living_room_floor_lamp"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 460,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d947504d07ee3217",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off Laundry Room Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.laundry_room_bulb"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 450,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0651e6a0471c0e72",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off office radiator",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.office_thermostat"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f99dca18709982c7",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off light strip",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_light_strip"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9bd8d1aab544c604",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off desk lamp",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.office_desk_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "67c9c28d57b71f94",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off Stair Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.downstairs_dimmer"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e9b136ebc5db71c4",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "d": true,
        "name": "Turn off garage xmas lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_garage"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "189e48e4fb8044f6",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Turn off office task lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.office_task_lights"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "21a090a5ed52ecc0",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Backyard Light Off",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.back_porch_bulb_2"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "7689a3b8100c04bf",
        "type": "api-call-service",
        "z": "fad46a3e50b7cb59",
        "name": "Porch Light Off",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.front_porch"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 400,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e620e721f4738f8f",
        "type": "mqtt out",
        "z": "fad46a3e50b7cb59",
        "name": "",
        "topic": "climate/main",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 570,
        "y": 760,
        "wires": []
    },
    {
        "id": "3aecd32d33867ab4",
        "type": "change",
        "z": "fad46a3e50b7cb59",
        "name": "MQTT: sleep",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sleep",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "e620e721f4738f8f"
            ]
        ]
    },
    {
        "id": "33306ba6d9c87aaf",
        "type": "ha-device",
        "z": "fd78a9154e868687",
        "d": true,
        "name": "Office | Temp Below 45",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "203def7ac1e210d9d859d68c7c6fc3f3",
        "event": {
            "type": "temperature",
            "platform": "device",
            "device_id": "203def7ac1e210d9d859d68c7c6fc3f3",
            "entity_id": "sensor.office_sensor_air_temperature",
            "domain": "sensor"
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 45
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 5,
                "unit": "minutes"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 180,
        "wires": [
            [
                "c65ed180416b7cd3"
            ]
        ]
    },
    {
        "id": "c65ed180416b7cd3",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Turn on office radiator",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.office_thermostat"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "c766cb6180361006"
            ]
        ]
    },
    {
        "id": "7e6e14ce09e26e87",
        "type": "ha-device",
        "z": "fd78a9154e868687",
        "name": "Basement | Temp Below 42",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "2dca32a0d5e3d49775aae765d325dd05",
        "event": {
            "type": "temperature",
            "platform": "device",
            "device_id": "2dca32a0d5e3d49775aae765d325dd05",
            "entity_id": "sensor.basement_sensor_air_temperature",
            "domain": "sensor"
        },
        "capabilities": [
            {
                "name": "below",
                "type": "float",
                "value": 42
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 240,
        "wires": [
            [
                "0553920e92c5bafa",
                "44ad789c7ff92a57",
                "65cfb7e8ef9ebc35"
            ]
        ]
    },
    {
        "id": "0553920e92c5bafa",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Set Heat to 82",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_temperature",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.main_floor"
        ],
        "data": "{\"temperature\": 82, \"hvac_mode\": \"heat\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1f2efda48df628b0",
        "type": "api-current-state",
        "z": "fd78a9154e868687",
        "name": "Temp >= 55?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "55",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "sensor.basement_sensor_air_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "6f551d285f008dfa",
                "ace36dd6d24feeee",
                "d29ff4601e61a01c",
                "9023128fddddee2e"
            ],
            []
        ]
    },
    {
        "id": "ace36dd6d24feeee",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Set Heat to \"home\"",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.main_floor"
        ],
        "data": "{\"preset_mode\": \"home\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1090,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6f551d285f008dfa",
        "type": "change",
        "z": "fd78a9154e868687",
        "name": "STOP loop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c766cb6180361006",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"Low Temp in Office\", \"message\": \"Office radiator has been turned on\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 630,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "44ad789c7ff92a57",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"Low Temp in Basement\", \"message\": \"Heat has been turned to 72\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d29ff4601e61a01c",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"Basament Temp Stabilized\", \"message\": \"Ecobee has been set to home\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1070,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "06fb7cee3aa4819d",
        "type": "comment",
        "z": "fd78a9154e868687",
        "name": "Climate Behaviors",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "65cfb7e8ef9ebc35",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Turn on Dehumidifier",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.switch_dehumidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 320,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-toggle-on"
    },
    {
        "id": "9023128fddddee2e",
        "type": "api-call-service",
        "z": "fd78a9154e868687",
        "name": "Turn off Dehumidifier",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.switch_dehumidifier"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-toggle-off"
    },
    {
        "id": "74c08d864fb31707",
        "type": "inject",
        "z": "eeedd65b28cdf0d7",
        "name": "Every 15 Minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "91ca29ac0badd421"
            ]
        ]
    },
    {
        "id": "91ca29ac0badd421",
        "type": "api-current-state",
        "z": "eeedd65b28cdf0d7",
        "name": "Get Temp",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.weather_current_conditions_feels_like_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "6422ed9c632d3c59"
            ]
        ]
    },
    {
        "id": "6422ed9c632d3c59",
        "type": "function",
        "z": "eeedd65b28cdf0d7",
        "name": "Calculate color value",
        "func": "const temp = msg.payload;\n\nconst multiples = [1.334,1.53,1.81,1.829,1.913];\nconst bases = [182,130,45,0];\n\nlet multiple;\nlet base;\nlet floor;\n\nif (temp < 0) {\n    multiple = multiples[0]\n    base = bases[0]\n}\nif (temp <= 34) {\n    multiple = multiples[1]\n    base = bases[1]\n    floor = 34\n}\nif (temp <= 77) {\n    multiple = multiples[2]\n    base = bases[2]\n    floor = 77\n}\nif (temp > 77) {\n    multiple = multiples[3]\n    base = bases[3]\n    floor = 100\n}\n\nlet color;\n\nif (temp < 0) {\n    color = base + (Math.abs(temp)*multiple)\n} else {\n    color = base + ((floor * multiple)-(temp * multiple))\n}\n\nif (color <= 0 || temp > 99) color = 1;\n\nreturn {payload: Math.round(color)}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "f0b6d0e785dccd8b"
            ]
        ]
    },
    {
        "id": "f0b6d0e785dccd8b",
        "type": "api-call-service",
        "z": "eeedd65b28cdf0d7",
        "name": "Set LED",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "zwave_js",
        "service": "set_config_parameter",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.red_series_dimmer"
        ],
        "data": "{\"parameter\":\"16\", \"bitmask\":255,\"value\":msg.payload}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b04193fd7c67c943",
        "type": "ha-device",
        "z": "4696f8f7599e2c3b",
        "name": "Press UP 2x",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "f1c7e7474f48a596e2b87ed135ba12d9",
        "event": {
            "platform": "device",
            "device_id": "f1c7e7474f48a596e2b87ed135ba12d9",
            "domain": "zwave_js",
            "type": "event.value_notification.central_scene",
            "property": "scene",
            "property_key": "002",
            "endpoint": 0,
            "command_class": 91,
            "subtype": "Endpoint 0 Scene 002"
        },
        "capabilities": [
            {
                "name": "value",
                "type": "select",
                "value": "3"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 200,
        "wires": [
            [
                "3eac53a781b001e1"
            ]
        ]
    },
    {
        "id": "3eac53a781b001e1",
        "type": "api-call-service",
        "z": "4696f8f7599e2c3b",
        "name": "Backyard Brightness 100%",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.back_porch_bulb_2"
        ],
        "data": "{\"brightness_pct\": 99}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4f6f01c2f5a97b7a",
        "type": "ha-device",
        "z": "4696f8f7599e2c3b",
        "name": "Press DOWN 2x",
        "server": "43f99aab.221f74",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "f1c7e7474f48a596e2b87ed135ba12d9",
        "event": {
            "platform": "device",
            "device_id": "f1c7e7474f48a596e2b87ed135ba12d9",
            "domain": "zwave_js",
            "type": "event.value_notification.central_scene",
            "property": "scene",
            "property_key": "001",
            "endpoint": 0,
            "command_class": 91,
            "subtype": "Endpoint 0 Scene 001"
        },
        "capabilities": [
            {
                "name": "value",
                "type": "select",
                "value": "3"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 280,
        "wires": [
            [
                "f67ebd6bba5d7c43",
                "a481785d6356ad98"
            ]
        ]
    },
    {
        "id": "a481785d6356ad98",
        "type": "api-call-service",
        "z": "4696f8f7599e2c3b",
        "name": "Backyard Brightness 20%",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.back_porch_bulb_2"
        ],
        "data": "{\"brightness_pct\": 20}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f67ebd6bba5d7c43",
        "type": "change",
        "z": "4696f8f7599e2c3b",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "41f1c9f87bb134d3",
        "type": "api-call-service",
        "z": "4696f8f7599e2c3b",
        "name": "Backyard Light Off",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.back_porch_bulb_2"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6d1923f9fc25d2a4",
        "type": "comment",
        "z": "4696f8f7599e2c3b",
        "name": "Laundry Room Switch Actions",
        "info": "",
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "5f9813e142e3a5e1",
        "type": "comment",
        "z": "4696f8f7599e2c3b",
        "name": "Front Door Switch Actions",
        "info": "",
        "x": 210,
        "y": 420,
        "wires": []
    },
    {
        "id": "68f4f4d731c6898c",
        "type": "ha-device",
        "z": "4696f8f7599e2c3b",
        "name": "Single Click Front Door Button",
        "server": "43f99aab.221f74",
        "version": 0,
        "debugenabled": false,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "inputs": 0,
        "deviceType": "trigger",
        "device": "6a88634b61165cabc281798ee64a7754",
        "event": {
            "platform": "device",
            "domain": "mqtt",
            "device_id": "6a88634b61165cabc281798ee64a7754",
            "type": "action",
            "subtype": "single",
            "discovery_id": "0x00158d000839476a action_single",
            "metadata": {}
        },
        "capabilities": [],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 230,
        "y": 480,
        "wires": [
            [
                "bfba485280b0d9eb"
            ]
        ]
    },
    {
        "id": "b7753a63f7315153",
        "type": "change",
        "z": "4696f8f7599e2c3b",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "63a54d31e5ba0e2e",
        "type": "api-call-service",
        "z": "4696f8f7599e2c3b",
        "name": "Front Porch Brightness 100%",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.front_porch"
        ],
        "data": "{\"brightness_pct\": 99, \"color_temp\": msg.payload. max_mireds}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a79ef725849ca7ed",
        "type": "inject",
        "z": "4696f8f7599e2c3b",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "bfba485280b0d9eb"
            ]
        ]
    },
    {
        "id": "28e6fa3df29788c4",
        "type": "change",
        "z": "4696f8f7599e2c3b",
        "name": "Get properties",
        "rules": [
            {
                "t": "set",
                "p": "previousFrontBulbState",
                "pt": "flow",
                "to": "payload.attributes",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.attributes",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "frontBuilbMode",
                "pt": "flow",
                "to": "active",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "63a54d31e5ba0e2e"
            ]
        ]
    },
    {
        "id": "bfba485280b0d9eb",
        "type": "api-current-state",
        "z": "4696f8f7599e2c3b",
        "name": "",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.front_porch",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "a45aed4b85e42f6e"
            ]
        ]
    },
    {
        "id": "a45aed4b85e42f6e",
        "type": "switch",
        "z": "4696f8f7599e2c3b",
        "name": "",
        "property": "frontBuilbMode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "active",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "idle",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "b7753a63f7315153",
                "8f06ad6f464be60f"
            ],
            [
                "28e6fa3df29788c4"
            ],
            [
                "28e6fa3df29788c4"
            ]
        ]
    },
    {
        "id": "d28a48170a948f02",
        "type": "api-call-service",
        "z": "4696f8f7599e2c3b",
        "name": "Restore Brightness",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.front_porch"
        ],
        "data": "{\"brightness\": $flowContext(\"previousFrontBulbState.brightness\") , \"color_temp\": $flowContext(\"previousFrontBulbState.color_temp\")}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "1ab534f41b03ded5"
            ]
        ]
    },
    {
        "id": "8f06ad6f464be60f",
        "type": "switch",
        "z": "4696f8f7599e2c3b",
        "name": "",
        "property": "previousFrontBulbState.color_mode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "color_temp",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "d28a48170a948f02"
            ],
            [
                "3fa5f829c4307396"
            ]
        ]
    },
    {
        "id": "3fa5f829c4307396",
        "type": "api-call-service",
        "z": "4696f8f7599e2c3b",
        "name": "Restore Brightness",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.front_porch"
        ],
        "data": "{\t   \"brightness\": $flowContext(\"previousFrontBulbState.brightness\"),\t   \"hs_color\": $flowContext(\"previousFrontBulbState.hs_color\")\t\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "1ab534f41b03ded5"
            ]
        ]
    },
    {
        "id": "1ab534f41b03ded5",
        "type": "change",
        "z": "4696f8f7599e2c3b",
        "name": "Set Idle",
        "rules": [
            {
                "t": "set",
                "p": "frontBuilbMode",
                "pt": "flow",
                "to": "idle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b425320367c2a009",
        "type": "inject",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Every day at 4:10pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "10 16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "ee537d97a06b454e",
                "877a5ac25019954e",
                "a0438116ad278799"
            ]
        ]
    },
    {
        "id": "ee537d97a06b454e",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn on Garage Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_garage"
        ],
        "data": "{\"brightness\": 90}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "877a5ac25019954e",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn on Front Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_front"
        ],
        "data": "{\"brightness\": 80}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3de1cc92a6d48cb7",
        "type": "inject",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Every day at 10:30pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "f1bfa623f46b9f50",
                "4fcd3764595d8571"
            ]
        ]
    },
    {
        "id": "f1bfa623f46b9f50",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Dim Garage Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_garage"
        ],
        "data": "{\"brightness\": 55}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4fcd3764595d8571",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Dim Front Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_front"
        ],
        "data": "{\"brightness\": 55}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "94dd3955820f6d65",
        "type": "inject",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Every day at 11:30pm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "6a9f6b319f5f8b16"
            ]
        ]
    },
    {
        "id": "6a9f6b319f5f8b16",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Dim Front Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_front"
        ],
        "data": "{\"brightness\": 45}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "39c25960825ce0e8",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn Off Front Lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.christmas_lights_front"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b1f042d4492c1f53",
        "type": "inject",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Every day at 1am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "39c25960825ce0e8",
                "d874bd1b18e7a55e"
            ]
        ]
    },
    {
        "id": "d874bd1b18e7a55e",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn off tree lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.christmas_tree_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a0438116ad278799",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn on tree lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.christmas_tree_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "01819d7e1bb66df3",
        "type": "inject",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Every day at 6:30am",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "56db9219507eda18"
            ]
        ]
    },
    {
        "id": "56db9219507eda18",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn on tree lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.christmas_tree_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 410,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fb383caa06411e07",
        "type": "mqtt in",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Subscribe to Office Occupancy",
        "topic": "occupancy/office",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "29e19a3a6143df0f"
            ]
        ]
    },
    {
        "id": "29e19a3a6143df0f",
        "type": "switch",
        "z": "3ca5738bfaac31c2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arrived",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "departed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "occupied",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 410,
        "y": 160,
        "wires": [
            [],
            [
                "1a1ed5f5446848bb"
            ],
            [
                "f6f106fda8c90ab6"
            ],
            []
        ]
    },
    {
        "id": "bd8b469f62f1f874",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn off tree lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.christmas_tree_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e6aff0e848451581",
        "type": "time-range-switch",
        "z": "3ca5738bfaac31c2",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "9:00",
        "endTime": "16:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 810,
        "y": 400,
        "wires": [
            [
                "bd8b469f62f1f874"
            ],
            []
        ]
    },
    {
        "id": "f6f106fda8c90ab6",
        "type": "api-current-state",
        "z": "3ca5738bfaac31c2",
        "name": "Ainsley not home",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.ainsley",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "e6aff0e848451581"
            ],
            []
        ]
    },
    {
        "id": "f77f2059e62d4ba7",
        "type": "switch",
        "z": "3ca5738bfaac31c2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arrived",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "empty",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "1a1ed5f5446848bb"
            ],
            [
                "e6aff0e848451581"
            ]
        ]
    },
    {
        "id": "0c7c164d9ad2678f",
        "type": "mqtt in",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Subscribe to House Occupancy",
        "topic": "occupancy/house",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f77f2059e62d4ba7"
            ]
        ]
    },
    {
        "id": "1a1ed5f5446848bb",
        "type": "api-call-service",
        "z": "3ca5738bfaac31c2",
        "name": "Turn on tree lights",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.christmas_tree_lights"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "38266e32abcb658f",
        "type": "trigger-state",
        "z": "3ca5738bfaac31c2",
        "d": true,
        "name": "Ainsley Leaves",
        "server": "43f99aab.221f74",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "person.ainsley",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "enableInput": false,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "6103fed47245b244"
            ],
            []
        ]
    },
    {
        "id": "6103fed47245b244",
        "type": "api-current-state",
        "z": "3ca5738bfaac31c2",
        "name": "Office Occupied?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "occupied",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.office_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "e6aff0e848451581"
            ],
            []
        ]
    },
    {
        "id": "4f5a58f6.75a848",
        "type": "trigger-state",
        "z": "3cf4ebf2573ce555",
        "name": "Person",
        "server": "43f99aab.221f74",
        "version": 2,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "^person\\..*$",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "prevEntity",
                "comparatorValue": "state",
                "propertyValue": "new_state.state"
            }
        ],
        "inputs": 0,
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "enableInput": false,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "8790337a71663449",
                "fc47d86ed2403dcd"
            ],
            []
        ]
    },
    {
        "id": "d00c64bfd4693a46",
        "type": "mqtt out",
        "z": "3cf4ebf2573ce555",
        "name": "",
        "topic": "occupancy/house",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 575,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "87e76b7e9dd8e366",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 100,
        "wires": [
            [
                "a94efaafae4c2313"
            ]
        ],
        "l": false
    },
    {
        "id": "a94efaafae4c2313",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "occupied",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "occupied",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "d00c64bfd4693a46"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "9eb619e47f2b26f4",
        "type": "link in",
        "z": "3cf4ebf2573ce555",
        "name": "Set Occupied",
        "links": [
            "eaa7008716e5af70"
        ],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "a94efaafae4c2313"
            ]
        ],
        "l": true
    },
    {
        "id": "b88ac241b23fdcde",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 140,
        "wires": [
            [
                "e80c9bc88dfb3636"
            ]
        ],
        "l": false
    },
    {
        "id": "735f8197eaa6bc77",
        "type": "link in",
        "z": "3cf4ebf2573ce555",
        "name": "Set Departed",
        "links": [
            "e15239a937775625"
        ],
        "x": 190,
        "y": 160,
        "wires": [
            [
                "e80c9bc88dfb3636"
            ]
        ],
        "l": true
    },
    {
        "id": "d2a4ec7362573281",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 220,
        "wires": [
            [
                "af3b17b2b6911046"
            ]
        ],
        "l": false
    },
    {
        "id": "655297512e6a853b",
        "type": "link in",
        "z": "3cf4ebf2573ce555",
        "name": "Set Empty",
        "links": [
            "db155e47b57347a5"
        ],
        "x": 180,
        "y": 240,
        "wires": [
            [
                "af3b17b2b6911046"
            ]
        ],
        "l": true
    },
    {
        "id": "4f6cd80799bb375b",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 60,
        "wires": [
            [
                "8be56acc3b5db4c0"
            ]
        ],
        "l": false
    },
    {
        "id": "5ae0489a2b0930da",
        "type": "link in",
        "z": "3cf4ebf2573ce555",
        "name": "Set Arrived",
        "links": [
            "9fbbec795bf1f70e"
        ],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "8be56acc3b5db4c0"
            ]
        ],
        "l": true
    },
    {
        "id": "8be56acc3b5db4c0",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "arrived",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "arrived",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "d00c64bfd4693a46"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "e80c9bc88dfb3636",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "departed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "departed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "d00c64bfd4693a46"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "af3b17b2b6911046",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "empty",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "empty",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "d00c64bfd4693a46"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "d0df2048beb3705e",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 260,
        "wires": [
            [
                "72dd942c6ed97348"
            ]
        ],
        "l": false
    },
    {
        "id": "90d18874e77b8b6b",
        "type": "link in",
        "z": "3cf4ebf2573ce555",
        "name": "Set Sleep",
        "links": [],
        "x": 180,
        "y": 280,
        "wires": [
            [
                "72dd942c6ed97348"
            ]
        ],
        "l": true
    },
    {
        "id": "72dd942c6ed97348",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "sleep",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sleep",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "d00c64bfd4693a46"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "b2b1ff1a98c0cf43",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": " ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 95,
        "y": 180,
        "wires": [
            [
                "6b9a2129505ea31b"
            ]
        ],
        "l": false
    },
    {
        "id": "c9b3e3d546ec684a",
        "type": "link in",
        "z": "3cf4ebf2573ce555",
        "name": "Set Extended Empty",
        "links": [
            "5a5fb2283376a539"
        ],
        "x": 210,
        "y": 200,
        "wires": [
            [
                "6b9a2129505ea31b"
            ]
        ],
        "l": true
    },
    {
        "id": "6b9a2129505ea31b",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "extended_empty",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "extended_empty",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "d00c64bfd4693a46"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "acb2d23a44892c3c",
        "type": "mqtt in",
        "z": "3cf4ebf2573ce555",
        "name": "this.subscribe",
        "topic": "occupancy/house",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "87e0ad2f591c9b15"
            ]
        ]
    },
    {
        "id": "87e0ad2f591c9b15",
        "type": "switch",
        "z": "3cf4ebf2573ce555",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "arrived",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "departed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "empty",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "3e00cd7fe26b5c51",
                "bdd1c48f47eced3f"
            ],
            [
                "3028e0169b379c1f"
            ],
            []
        ]
    },
    {
        "id": "5a5fb2283376a539",
        "type": "link out",
        "z": "3cf4ebf2573ce555",
        "name": "Set Extended Empty",
        "mode": "link",
        "links": [
            "c9b3e3d546ec684a"
        ],
        "x": 715,
        "y": 700,
        "wires": []
    },
    {
        "id": "db155e47b57347a5",
        "type": "link out",
        "z": "3cf4ebf2573ce555",
        "name": "Set Extended Empty",
        "mode": "link",
        "links": [
            "655297512e6a853b"
        ],
        "x": 715,
        "y": 600,
        "wires": []
    },
    {
        "id": "eaa7008716e5af70",
        "type": "link out",
        "z": "3cf4ebf2573ce555",
        "name": "",
        "mode": "link",
        "links": [
            "9eb619e47f2b26f4"
        ],
        "x": 715,
        "y": 500,
        "wires": []
    },
    {
        "id": "9fbbec795bf1f70e",
        "type": "link out",
        "z": "3cf4ebf2573ce555",
        "name": "Set arrived",
        "mode": "link",
        "links": [
            "5ae0489a2b0930da"
        ],
        "x": 1035,
        "y": 380,
        "wires": []
    },
    {
        "id": "e15239a937775625",
        "type": "link out",
        "z": "3cf4ebf2573ce555",
        "name": "Set Departed",
        "mode": "link",
        "links": [
            "735f8197eaa6bc77"
        ],
        "x": 1035,
        "y": 420,
        "wires": []
    },
    {
        "id": "4d129ac92afdcb6f",
        "type": "mqtt in",
        "z": "3cf4ebf2573ce555",
        "name": "this.subscribe",
        "topic": "occupancy/house",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 780,
        "wires": [
            [
                "0d99d45ebaaa48b4"
            ]
        ]
    },
    {
        "id": "0d99d45ebaaa48b4",
        "type": "api-call-service",
        "z": "3cf4ebf2573ce555",
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"House Occupancy Changed\", \"message\": msg.payload }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 370,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3e00cd7fe26b5c51",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd1c48f47eced3f",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3028e0169b379c1f",
        "type": "change",
        "z": "3cf4ebf2573ce555",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8790337a71663449",
        "type": "ha-get-entities",
        "z": "3cf4ebf2573ce555",
        "name": "",
        "server": "43f99aab.221f74",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "^person\\..*$",
                "valueType": "re"
            }
        ],
        "output_type": "array",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "262ae1eff43fe785"
            ]
        ]
    },
    {
        "id": "d54cd4494b9db9ad",
        "type": "inject",
        "z": "3cf4ebf2573ce555",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 175,
        "y": 440,
        "wires": [
            [
                "8790337a71663449"
            ]
        ],
        "l": false
    },
    {
        "id": "262ae1eff43fe785",
        "type": "function",
        "z": "3cf4ebf2573ce555",
        "name": "Check person states",
        "func": "let states = [];\n\nmsg.payload.map(person => {\n  states.push(person.state)  \n})\n\nreturn {payload: !!states.includes(\"home\")};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "fce7af49f5bf102d"
            ]
        ]
    },
    {
        "id": "fce7af49f5bf102d",
        "type": "switch",
        "z": "3cf4ebf2573ce555",
        "name": "Anyone home?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "380d59616ecc7d59"
            ],
            [
                "ceb018c34fe88ce3"
            ]
        ]
    },
    {
        "id": "380d59616ecc7d59",
        "type": "api-current-state",
        "z": "3cf4ebf2573ce555",
        "name": "Not already home",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "arrived, occupied",
        "halt_if_type": "str",
        "halt_if_compare": "does_not_include",
        "entity_id": "sensor.house_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "9fbbec795bf1f70e"
            ],
            []
        ]
    },
    {
        "id": "ceb018c34fe88ce3",
        "type": "api-current-state",
        "z": "3cf4ebf2573ce555",
        "name": "Not already away",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "departed, empty, extended_empty",
        "halt_if_type": "str",
        "halt_if_compare": "does_not_include",
        "entity_id": "sensor.house_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "e15239a937775625"
            ],
            []
        ]
    },
    {
        "id": "fc47d86ed2403dcd",
        "type": "api-call-service",
        "z": "3cf4ebf2573ce555",
        "d": true,
        "name": "Notify Drew",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_drew_s_phone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"Occupancy Change Detected\", \"message\": msg.payload }",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "91b5d3f46a0a863b",
        "type": "inject",
        "z": "c285c46413be8e0a",
        "name": "Test Burglar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "d6fad93537b0b5fb"
            ]
        ]
    },
    {
        "id": "e1073157f2bffcc6",
        "type": "api-call-service",
        "z": "c285c46413be8e0a",
        "name": "Burgular Alarm",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "zwave_js",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "sensor.keypad_v2_battery_level"
        ],
        "data": "{\"command_class\":\"135\",\"endpoint\":\"0\",\"property\":\"13\",\"property_key\":\"1\",\"value\":1}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6b0550c2dc89bbc5",
        "type": "api-call-service",
        "z": "c285c46413be8e0a",
        "name": "Turn off alarm",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "zwave_js",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "sensor.keypad_v2_battery_level"
        ],
        "data": "{\"command_class\":\"135\",\"endpoint\":\"0\",\"property\":\"2\",\"property_key\":\"1\",\"value\":1}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ffce6118ed2d16c8",
        "type": "mqtt in",
        "z": "c285c46413be8e0a",
        "name": "Alarm Mode",
        "topic": "alarm/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "e3de954579d0299d"
            ]
        ]
    },
    {
        "id": "e3de954579d0299d",
        "type": "switch",
        "z": "c285c46413be8e0a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "burglar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fire",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "medical",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "e1073157f2bffcc6"
            ],
            [],
            [],
            [
                "6b0550c2dc89bbc5"
            ]
        ]
    },
    {
        "id": "51eaabc709eb1d63",
        "type": "inject",
        "z": "c285c46413be8e0a",
        "name": "Test Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "f472ddb86fd6f561"
            ]
        ]
    },
    {
        "id": "d6fad93537b0b5fb",
        "type": "change",
        "z": "c285c46413be8e0a",
        "name": "set Burglar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "burglar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "e1e66fbb80e519aa"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "f472ddb86fd6f561",
        "type": "change",
        "z": "c285c46413be8e0a",
        "name": "set Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "e1e66fbb80e519aa"
            ]
        ],
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "e1e66fbb80e519aa",
        "type": "mqtt out",
        "z": "c285c46413be8e0a",
        "name": "",
        "topic": "alarm/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90cc7eb17f3b657b",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "89bee3e52f02db63",
        "type": "mqtt in",
        "z": "000e049e0f850948",
        "name": "",
        "topic": "climate/main",
        "qos": "2",
        "datatype": "auto",
        "broker": "90cc7eb17f3b657b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "e01cab1b9daea571"
            ]
        ]
    },
    {
        "id": "c34566ac2cc16bde",
        "type": "switch",
        "z": "000e049e0f850948",
        "name": "Climate Mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "office",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sleep",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "749ea4c72409366a"
            ],
            [
                "b435b47bd82b8807"
            ],
            [
                "250be8c3ea11e0a7"
            ],
            [
                "a8ff15863184c90d"
            ]
        ]
    },
    {
        "id": "e01cab1b9daea571",
        "type": "api-current-state",
        "z": "000e049e0f850948",
        "name": "Climate Hold?",
        "server": "43f99aab.221f74",
        "version": 3,
        "outputs": 2,
        "halt_if": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.climate_hold",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "msg.payload",
                "valueType": "jsonata"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "msg.data",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 140,
        "wires": [
            [],
            [
                "c34566ac2cc16bde"
            ]
        ]
    },
    {
        "id": "250be8c3ea11e0a7",
        "type": "api-call-service",
        "z": "000e049e0f850948",
        "name": "Set thermostat to \"office\"",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.main_floor"
        ],
        "data": "{\"preset_mode\": \"Office\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b435b47bd82b8807",
        "type": "api-call-service",
        "z": "000e049e0f850948",
        "name": "Set thermostat to \"away\"",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.main_floor"
        ],
        "data": "{\"preset_mode\": \"Away\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "749ea4c72409366a",
        "type": "api-call-service",
        "z": "000e049e0f850948",
        "name": "Set thermostat to \"home\"",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.main_floor"
        ],
        "data": "{\"preset_mode\": \"Home\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ff15863184c90d",
        "type": "api-call-service",
        "z": "000e049e0f850948",
        "name": "Set thermostat to \"sleep\"",
        "server": "43f99aab.221f74",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "set_preset_mode",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.main_floor"
        ],
        "data": "{\"preset_mode\": \"Sleep\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 200,
        "wires": [
            []
        ]
    }
]